# Data (see README for download link)
data/

# Virtual environment
.venv/
venv/

# Trained models
models/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]

# OS
.DS_Store
Thumbs.db